// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #181D31; // PALETA DE COR
$light-blue: #b3b6c5; // PALETA DE COR (CLAREADO)
$yellow: #FFC65A;
$orange: #E67E22;
$green: #678983; // PALETA DE COR
$light-green: #d3dddb; // PALETA DE COR (CLAREADO)
$gray: #0E0000;
$light-gray: #F4F4F4;
$cream: #E6DDC4; // PALETA DE COR
$light-cream: #F0E9D2; // PALETA DE COR
