<div class="footer row">
  <div class="footer-links col-12 mt-3 justify-content-center p-0">
    <a href="https://www.instagram.com/eduardauchoa___/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="col-12 my-2 text-center fs-6 text-primary">
    <p class="text-primary m-0">EDUARDA UCHÔA ATELIER</p>
    <%# <p class="text-secondary m-0">CNPJ</p> %>
    <p class="text-secondary m-0">Rua Curitiba, nº 2.548, Lourdes, Belo Horizonte/MG</p>
    <p class="text-secondary m-0">+55 31 9.8351.3108</p>
    <p class="text-secondary m-0">eduardauchoaatelier@gmail.com</p>
  </div>
</div>

<div class="footer row text-center">
  <div class="footer-copyright">
     <a href="#" target="_blank"><i Pedro Padilha></i></a>
  </div>
  <a href="https://github.com/pedrofonsecapadilha" style="text-decoration:none" target="_blank"><p class="text-secondary m-0">Developed with <i class="fas fa-heart"></i> by Pedro Padilha</p></a>
</div>
