.navbar-lewagon {
  justify-content: space-between;
  background: #ffffff;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .navbar-logo img {
  // max-width: 260px;
  // max-width: 100vw;
  max-height: 12vh;
}
